 * {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
 background-color: rgba(255, 255, 255, 0.85);
 color:#111;
 
}      
      /* Navber Section */
header { 
    background-image: url('./Assets/Hero-bg.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding: 30px 60px;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .navbar { 
    display: flex;
    justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
   color: #4f46e5;
}

.signup-btn {
 background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
  transform: scale(1);
}
.signup-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.banner{
  text-align: center;
  margin-top: 10%;  
}
.banner,h1 {
     font-size: 36px;
  font-weight: 800;
  color: #111;
}
.focus-btn {
     margin-top: 20px;
  display: inline-block;
  background-color: #4f46e5;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}
.focus-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Action Section */
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  background-color: #ccc;
  flex-wrap: wrap;
}
.action-left {
  flex:1;
  min-width: 250px;
  padding-right: 20px;
}
.action-left h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.action-left p {
  font-size: 18px;
  margin-bottom: 20px;
}
.action-left p {
  font-size: 18px;
  margin-bottom: 20px;
}
.preview-btn {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
  transform: scale(1);
}
.preview-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.action-right {
  flex: 1;
  min-width: 250px;
  text-align: right;
}
.action-right img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
/* Productive Section */
.productive-users {
  background-color: #efe6e6; 
  color: #333;
  text-align: center;
  padding: 60px 20px;
  margin: 20px;
  
}
.stats-container{
     display: flex;
  justify-content: center;
 
}
.stat-box {
  padding: 30px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  transition: transform 0.3s;
}
/* Feedback Section */
.feedback-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f5f5f5;
}

.feedback-main-title {
  font-size: 32px;
  margin-bottom: 40px;
}

.feedback-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.feedback-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  text-align: left;
}

.stars img {
  width: 20px;
  margin-right: 3px;
}

.feedback-text {
  font-size: 15px;
  margin: 15px 0;
  color: #333;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.reviewer h4 {
  font-size: 16px;
  margin: 0;
}

.reviewer p {
  font-size: 12px;
  color: #888;
  margin: 2px 0 0;
}
/* Contact Section */
.signup-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 40px;
  background-color: #ffffff;
  color: #333;

}

.contact-title{
     flex: 1;
  min-width: 250px;
  padding-right: 40px;
  display: flex;
  align-items: center;

}
.contact-title, h2 {
  font-size: 32px;
}

.contact{
     flex: 1;
  min-width: 300px;

}
.contact-form{
    display: flex;
  flex-direction: column;

}

.contact-form input,
.contact-form textarea {
  padding: 12px 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
.submet-btn {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
  transform: scale(1);
}
.submet-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
 
/* Footer section */
.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.footer-title {
 background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
  transform: scale(1);
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ece9e9;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}
